
@font-face {
  font-family: menuFont;
  src: url("../Font/StitchWarrior.ttf");
}

/*This is directly for the canvas*/
canvas {
  text-align: center;
  display: block;
  position: absolute;
  margin-left: 215px;
  margin-top: 195px;
}

body {
  background-color: #20221d;
}

/*This is for the background which also acts as an overlay*/
#backgroundMain{
  width: 1350px;
  position: absolute;
  z-index: 1;
}
