/*This is the container for the canvas*/
.classContainer {
  justify-content: center;
  align-items: center;
}

/*This is directly for the canvas*/
canvas {
  text-align: center;
  display: block;
  position: absolute;
  margin-left: 380px;
  margin-top: 225px;
}

/*This is for the background which also acts as an overlay*/
#backgroundMain{
  width: 1500px;
  position: absolute;
  z-index: 1;
}
